extends layout

block content

  div.col-md-2
    div.panel.panel-default
      img.pad-sm.img-responsive(src='img/words.png')
      p.pad-sm 3 Words

  div.col-md-2
    div.panel.panel-default
      img.pad-sm.img-responsive(src='img/bottom.png')
      p.pad-sm Get to the Bottom!
