body {
  background-color: #eeeeee;
  padding-top: 15px;
}

.pad-sm {
  padding: 10px;
}

.title {
  font-weight: bold;
}

.test {
  transition: transform 0.5s;
  transition-timing-function: ease;
}

.test:hover {
  transform: translateY(-5px);
}
